.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.344);
    display: flex;
    justify-content: center;
    align-items: center;

  &__select {
    width: 20rem;
    margin-left: 1rem;
  }
  &__employee {
    color: black;
    padding-bottom: 1rem;
  }


    &__content{
        display: flex;
        flex-direction: column;
        background: white;
        align-items: center;
        padding: 2rem;
  }

  &__cancel{
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end;
  }

  &__X:hover {
    transform: rotate(-0.25turn);
    transition: ease-in 0.5s;
  }
}